@import "../../../App";

.trendbox-number {
  font-size: var(--pf-global--FontSize--4xl);
  font-weight: var(--pf-global--FontWeight--bold);
}
.trendbox-text {
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--semi-bold);
}
.trendbox-percentage {
  font-size: var(--pf-global--FontSize--lg);
  font-weight: var(--pf-global--FontWeight--semi-bold);
  display: flex;
}
.trendbox-red {
  color: var(--pf-global--danger-color--100);
}
.trendbox-green {
  color: var(--pf-global--success-color--100);
}
.trendbox-gray {
  color: var(--pf-global--secondary-color--100);
}
.push-bottom {
  align-self: flex-end;
}
