.affected-systems-toolbar {
    justify-content: flex-start;
    
    > div {
        margin-right: var(--pf-global--spacer--sm);
    }
}

.affected-systems-filter-chips {
    order: 5;
    flex-basis: 100%;
}

.bullseye-auto-height{
    height: auto !important;
}