@import "../../../App";

.cvepage-st-business-risk-value {
    border-bottom: black 2px dotted;
}
.splitter {
    margin-bottom: var(--pf-global--spacer--sm) !important;
    margin-top: var(--pf-global--spacer--sm) !important;
}
.status-breakdown-table {
    th {
        font-weight: normal;
        padding-left: 0px;
        padding-right: var(--pf-global--spacer--md);
        padding-bottom: var(--pf-global--spacer--sm);
        &:last-child {
            text-align: right;
        }
    }
    td {
        padding-left: 0px;
        padding-right: var(--pf-global--spacer--md);
        white-space: nowrap;
        padding-top: var(--pf-global--spacer--sm);
        padding-bottom: var(--pf-global--spacer--sm);
        &:last-child {
            text-align: right;
        }
    }
}
