span {
    &.vuln-label {
        display: inline-block;
        font-size: var(--pf-global--FontSize--sm);
        font-weight: var(--pf-global--FontWeight--bold);
        line-height: var(--pf-global--LineHeight--sm);
        color: var(--pf-global--Color--100);
    }
}
