@import "../../../App";

.cvetable-toolbar {
  justify-content: space-between;
  > div {
    align-self: flex-end;
  }
}
.space-between-toolbar-items {
  > div {
    margin-right: $ins-gutter;
    align-self: flex-end;
    > form {
      width: 150px;
    }
  }
}

.filterCVES {
  min-width: 25%;
  > div {
    width: 100%;
  }
}

#download-report {
  cursor: pointer;
}
.number-of-results {
  display: inline-block;
  min-width: 55px;
  text-align: right;
  margin-right: 5px;
}
