#current-vulnerabilities {
  .number {
    font-size: var(--pf-global--FontSize--4xl);
    font-weight: var(--pf-global--FontWeight--bold);
    color: var(--pf-global--danger-color--100);
    text-align: center;
  }
  .text {
    font-size: var(--pf-global--FontSize--md);
    font-weight: var(--pf-global--FontWeight--semi-bold);
  }
}

.pf-c-card {
  height: 100%;
}
