// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-notifications/index.css";
@import "~@redhat-cloud-services/frontend-components/index.css";
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "Components/SmartComponents/SystemCves/vulnerabilities.scss";
