// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-notifications/index.css";
@import "~@redhat-cloud-services/frontend-components/index.css";
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "Components/SmartComponents/CVEs/vulnerabilities.scss";

.page__Vulnerabilities {
    overflow-x: auto !important;
    .pf-c-page__main {
        overflow-x: auto;
    }
}

.icon-with-label {
    &:not(:last-child) {
        margin-right: var(--pf-global--spacer--sm);
    }
    > svg {
        margin-right: var(--pf-global--spacer--xs);
    }
}

// workaround to fix PF avatar issue

img.pf-c-avatar {
    height: var(--pf-global--FontSize--4xl);
}
